body {
  background-color: #efefef;
}


.alexander { color: red; }

.exempel-stud { color: red; }

.kai{
  width:100%;
  color:#F6G5J1;
  position:absolute;
}

	.tim{

      
      width:100%;
      

      
      color:#313131;


      position: absolute;
      -webkit-animation:colorchange 20s infinite alternate;
      
      
    }
.robin{
width:100%;
color:yellow;
positon:absolute;
	
}
.niklas{
	width:100%;
	color:blue;
	position:absolute;
}
@-webkit-keyframes colorchange {
      0% {
        
        color: blue;
      }
      
      10% {
        
        color: #8e44ad;
      }
      
      20% {
        
        color: #1abc9c;
      }
      
      30% {
        
        color: #d35400;
      }
      
      40% {
        
        color: blue;
      }
      
      50% {
        
        color: #34495e;
      }
      
      60% {
        
        color: blue;
      }
      
      70% {
        
        color: #2980b9;
      }
      80% {
     
        color: #f1c40f;
      }
      
      90% {
     
        color: #2980b9;
      }
      
      100% {
        
        color: pink;
      }
    }

